/* VARIABLES */

    /* Pallete */
    $primary: #FFFFFF;
    $secondary: #999998;
    
    /* Font Family */
    $text-link: 'Bebas Neue', cursive;
    $text-link: 'Montserrat', sans-serif;

    /* Font Sizes */
    $txt-xl:72px;
    $txt-lg:32px;
    $txt-md:20px;
    $txt-sm:16px;
    $txt-xs: 14px;

    /* Font Color */
    $text-cover: #919191;


