<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/productos-dist.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="../index.html" class="header__aImg">
            <picture>
                <source srcset="/assets/images/thumbnaillogook-mobile.webp" media="(max-width:480px)" class="header__source">
                <img src="../assets/images/thumbnaillogook.webp" alt="logo de la empresa" class="header__sourceImg">
            </picture>
        </a>
        <nav class="header__navIcons">
            <ul class="header__ulIcons">
                <li class="header__liIcons">
                    <a href="#" class="header_aIcons">
                        <img src="../assets/images/perfil-del-usuario.webp" alt="Perfil" class="header__imgIcons">
                    </a>
                </li>
                <li class="header__liIcons">
                    <a href="#" class="header__aIcons">
                        <img src="../assets/images/hoja.png" alt="Rutina" class="header__imgIcons">
                    </a>
                </li>
                <li class="header__liIcons">
                    <a href="#" class="header__aIcons">
                        <img src="../assets/images/corazon-favorito.webp" alt="favoritos" class="header__imgIcons">
                    </a>
                </li>
                <li class="header__liIcons">
                    <a href="#" class="header__aIcons">
                        <img src="../assets/images/carrito-de-compras.webp" alt="carrito" class="header__imgIcons">
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="header__navNombreImgIcons">
            <ul class="header__ulNombreImgIcons">
                <li class="header__liNombreImgIcons">
                    <a href="#" class="header__aNombreImgIcons">
                        Mi Perfil
                    </a>
                </li>
                <li class="header__liNombreImgIcons">
                    <a href="#" class="header__aNombreImgIcons">
                        Mi Rutina
                    </a>
                </li>
                <li class="header__liNombreImgIcons">
                    <a href="#" class="header__aNombreImgIcons">
                        Favoritos
                    </a>
                </li>
                <li class="header__liNombreImgIcons">
                    <a href="#" class="header__aNombreImgIcons">
                        Carrito
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="header__navAyuda">
            <ul class="header__ulAyuda">
                <li class="header__liAyuda">
                    <a href="#" class="header__aAyuda">
                        ¿Necesitas Ayuda?
                    </a>
                </li>
                <li class="header__liAyuda">
                    <a href="#" class="header__aAyuda">
                        ¿Por qué comprar en linea?
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="header__divPromociones">
        <a href="#" class="header__aPromociones">Descuentos del 20%</a>
    </div>
    <main>
        <nav class="main__nav">
            <ul class="main__ul">
                <li class="main__li">
                    <a href="#" class="main__aEnlaces">¡NUEVOS!</a>
                </li>
                <li class="main__li">
                    <a href="#" class="main__aEnlaces">ENLACE2</a>
                </li>
                <li class="main__li">
                    <a href="../views/productos.html" class="main__aEnlaces">PRODUCTOS</a>
                </li>
                <li class="main__li">
                    <a href="#" class="main__aEnlaces">OFERTAS</a>
                </li>
            </ul>

            <div class="main__divBuscador">
                <input type="text" placeholder="Buscar" required class="main__buscador">
            </div>
            <div class="main__divImgBuscador">
                <img src="../assets/images/busqueda.png" alt="lupa de busqueda" class="main__img">
            </div>
        </nav>



        <!-- <section class="main__productos p-5">
            <div class="card tarjeta__card" style="width: 20rem;">
                <img src="../assets/images/BLOQUEADOR_SOLAR_FACIAL.jpeg" class="card-img-bottom" alt="Espuma Facial">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            <div class="text__product">
                <p class="text-start fs-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, enim perferendis. Minima voluptates doloremque voluptas animi! Hic, maxime. Eius, iusto. Quas culpa hic suscipit rem maxime beatae molestias quos dolor autem incidunt magni neque doloremque vitae rerum cum soluta quam iure ducimus adipisci, veritatis officiis cumque. Autem nobis harum assumenda.
                </p>
            </div>
            <div class="video__product">
                <iframe width="800" height="295" src="https://www.youtube.com/embed/6cRctjPRv6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </section>

        <section class="main__productos p-5">
            <div class="card tarjeta__card" style="width: 20rem;">
                <img src="../assets/images/Espumasinfondo.webp" class="card-img-top" alt="Espuma Facial">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            <div class="text__product">
                <p class="text-start fs-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, enim perferendis. Minima voluptates doloremque voluptas animi! Hic, maxime. Eius, iusto. Quas culpa hic suscipit rem maxime beatae molestias quos dolor autem incidunt magni neque doloremque vitae rerum cum soluta quam iure ducimus adipisci, veritatis officiis cumque. Autem nobis harum assumenda.
                </p>
            </div>
            <div class="video__product">
                <iframe width="800" height="295" src="https://www.youtube.com/embed/6cRctjPRv6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </section> -->


                    <!-- <div class="card flex-column" style="width: 22rem;">
                        <img src="../assets/images/Espumasinfondo.webp" class="card-img-top" alt="Espuma Facial">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>  -->

                      <section class="main__MainContainerDos">
                        <div class="div__flex1">
                          <div class="cards__flex">
                            <!-- <div class="cards__Pro divImg__Producto">
                
                            </div>
                            <div class="cards__Pro Desc__Producto">
                
                            </div>
                            <div class="cards__Pro Precio__Producto">
                
                            </div> -->
                            <div class="card estilo-b">
                              
                                <div class="img-container">
                                  <img src="../assets/images/SERUM_ANTI_EDAD.jpeg" alt="Serum">
                                  <span class="favorite">
                                    <img src="../assets/images/corazon-favorito.webp" alt="favoritos">
                                  </span>
                                  <span class="pric"><p>Promocion de $150</p></span>
                                </div>
                              
                                <p>Serum</p>
                                <a href="#">Añadir a carrito</a>
                            </div>
                            <div class="cards__Pro Desc__Producto">
                              <img src="../assets/images/aplicador.jpg" alt="">
                            </div>
                          </div>
                
                          <div class="cards__flex card2">
                            <div class="cards__Pro card__Txt">
                              <p class="txt__Product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita autem sequi tempora pariatur omnis aperiam ipsam itaque sit voluptatum porro dolorum totam laudantium sint deserunt sunt, repellat quia. Dolorum labore temporibus repellat quae placeat maxime officia doloremque obcaecati vero consequatur?</p>
                            </div>
                            <div class="cards__Pro card__divVideo video__Producto">
                                <iframe  class="videito" width="560" height="315" src="https://www.youtube.com/embed/5wHVxYJNBS0?start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          </div>
                        </div>
                        
                    </section>
                    <section class="main__MainContainer">
                      <div class="div__flex1">
                        <div class="cards__flex">
                          <!-- <div class="cards__Pro divImg__Producto">
                
                          </div>
                          <div class="cards__Pro Desc__Producto">
                
                          </div>
                          <div class="cards__Pro Precio__Producto">
                
                          </div> -->
                          <div class="card estilo-b">
                            
                              <div class="img-container">
                                <img src="../assets/images/SERUM_ANTI_OXIDANTE.jpeg" alt="Serum">
                                <span class="favorite">
                                  <img src="../assets/images/corazon-favorito.webp" alt="favoritos">
                                </span>
                                <span class="pric"><p>Promocion de $150</p></span>
                              </div>
                            
                              <p>Serum</p>
                              <a href="#">Añadir a carrito</a>
                          </div>
                          <div class="cards__Pro Desc__Producto">
                            <img src="../assets/images/aplicadorAO.jpg" alt="">
                          </div>
                        </div>
                
                        <div class="cards__flex card2">
                          <div class="cards__Pro card__Txt">
                            <p class="txt__Product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, optio consectetur maxime eius alias perspiciatis maiores voluptas, atque possimus fuga eveniet inventore impedit repellat, distinctio dolore fugiat rerum cupiditate. Optio corrupti praesentium consequuntur nobis alias ipsa ducimus doloribus fuga eos.</p>
                          </div>
                          <div class="cards__Pro card__divVideo video__Producto">
                            <iframe class="videito" width="560" height="315" src="https://www.youtube.com/embed/tTaKk_vncE4?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                      
                  </section>

                  <section class="main__MainContainer">
                    <div class="div__flex1">
                      <div class="cards__flex">
                        <!-- <div class="cards__Pro divImg__Producto">
              
                        </div>
                        <div class="cards__Pro Desc__Producto">
              
                        </div>
                        <div class="cards__Pro Precio__Producto">
              
                        </div> -->
                        <div class="card estilo-b">
                          
                            <div class="img-container">
                              <img src="../assets/images/TONICO_REAFIRMANTE.jpeg" alt="Serum">
                              <span class="favorite">
                                <img src="../assets/images/corazon-favorito.webp" alt="favoritos">
                              </span>
                              <span class="pric"><p>Promocion de $150</p></span>
                            </div>
                          
                            <p>Serum</p>
                            <a href="#">Añadir a carrito</a>
                        </div>
                        <div class="cards__Pro Desc__Producto">
                          <img src="../assets/images/tonicoaplica.jpg" alt="">
                        </div>
                      </div>
              
                      <div class="cards__flex card2">
                        <div class="cards__Pro card__Txt">
                          <p class="txt__Product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, optio consectetur maxime eius alias perspiciatis maiores voluptas, atque possimus fuga eveniet inventore impedit repellat, distinctio dolore fugiat rerum cupiditate. Optio corrupti praesentium consequuntur nobis alias ipsa ducimus doloribus fuga eos.</p>
                        </div>
                        <div class="cards__Pro card__divVideo video__Producto">
                            <iframe class="videito" width="560" height="315" src="https://www.youtube.com/embed/W-kbkj4U6pI?start=17" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    
                </section>

                <section class="main__MainContainer">
                    <div class="div__flex1">
                      <div class="cards__flex">
                        <!-- <div class="cards__Pro divImg__Producto">
              
                        </div>
                        <div class="cards__Pro Desc__Producto">
              
                        </div>
                        <div class="cards__Pro Precio__Producto">
              
                        </div> -->
                        <div class="card estilo-b">
                          
                            <div class="img-container">
                              <img src="../assets/images/ESPUMA_LIMPIEZA_FACIAL.jpeg" alt="Serum">
                              <span class="favorite">
                                <img src="../assets/images/corazon-favorito.webp" alt="favoritos">
                              </span>
                              <span class="pric"><p>Promocion de $150</p></span>
                            </div>
                          
                            <p>Serum</p>
                            <a href="#">Añadir a carrito</a>
                        </div>
                        <div class="cards__Pro Desc__Producto">
                          <img src="../assets/images/aplicandoespuma.webp" alt="">
                        </div>
                      </div>
              
                      <div class="cards__flex card2">
                        <div class="cards__Pro card__Txt">
                          <p class="txt__Product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, optio consectetur maxime eius alias perspiciatis maiores voluptas, atque possimus fuga eveniet inventore impedit repellat, distinctio dolore fugiat rerum cupiditate. Optio corrupti praesentium consequuntur nobis alias ipsa ducimus doloribus fuga eos.</p>
                        </div>
                        <div class="cards__Pro card__divVideo video__Producto">
                            <iframe class="videito" width="560" height="315" src="https://www.youtube.com/embed/RR0QXnFqPyo?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    
                </section>

                <section class="main__MainContainer">
                    <div class="div__flex1">
                      <div class="cards__flex">
                        <!-- <div class="cards__Pro divImg__Producto">
              
                        </div>
                        <div class="cards__Pro Desc__Producto">
              
                        </div>
                        <div class="cards__Pro Precio__Producto">
              
                        </div> -->
                        <div class="card estilo-b">
                          
                            <div class="img-container">
                              <img src="../assets/images/BLOQUEADOR_SOLAR_FACIAL.jpeg" alt="Serum">
                              <span class="favorite">
                                <img src="../assets/images/corazon-favorito.webp" alt="favoritos">
                              </span>
                              <span class="pric"><p>Promocion de $150</p></span>
                            </div>
                          
                            <p>Serum</p>
                            <a href="#">Añadir a carrito</a>
                        </div>
                        <div class="cards__Pro Desc__Producto">
                          <img src="../assets/images/aplicandobloqueador.jpg" alt="">
                        </div>
                      </div>
              
                      <div class="cards__flex card2">
                        <div class="cards__Pro card__Txt">
                          <p class="txt__Product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, optio consectetur maxime eius alias perspiciatis maiores voluptas, atque possimus fuga eveniet inventore impedit repellat, distinctio dolore fugiat rerum cupiditate. Optio corrupti praesentium consequuntur nobis alias ipsa ducimus doloribus fuga eos.</p>
                        </div>
                        <div class="cards__Pro card__divVideo video__Producto">
                            <iframe class="videito" width="560" height="315" src="https://www.youtube.com/embed/_ZExwYrRcKY?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    
                </section>

                <section class="main__MainContainer">
                    <div class="div__flex1">
                      <div class="cards__flex">
                        <!-- <div class="cards__Pro divImg__Producto">
              
                        </div>
                        <div class="cards__Pro Desc__Producto">
              
                        </div>
                        <div class="cards__Pro Precio__Producto">
              
                        </div> -->
                        <div class="card estilo-b">
                          
                            <div class="img-container">
                              <img src="../assets/images/CREMA_FACIAL_HUMECTANTE.jpeg" alt="Serum">
                              <span class="favorite">
                                <img src="../assets/images/corazon-favorito.webp" alt="favoritos">
                              </span>
                              <span class="pric"><p>Promocion de $150</p></span>
                            </div>
                          
                            <p>Serum</p>
                            <a href="#">Añadir a carrito</a>
                        </div>
                        <div class="cards__Pro Desc__Producto">
                          <img src="../assets/images/aplicandocrema.jpg" alt="">
                        </div>
                      </div>
              
                      <div class="cards__flex card2">
                        <div class="cards__Pro card__Txt">
                          <p class="txt__Product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, optio consectetur maxime eius alias perspiciatis maiores voluptas, atque possimus fuga eveniet inventore impedit repellat, distinctio dolore fugiat rerum cupiditate. Optio corrupti praesentium consequuntur nobis alias ipsa ducimus doloribus fuga eos.</p>
                        </div>
                        <div class="cards__Pro card__divVideo video__Producto">
                            <iframe class="videito" width="560" height="315" src="https://www.youtube.com/embed/HdDbDEMly28?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    
                </section>

                      </main>

    </body>
    </html>